<mat-card>
	<mat-card-content>
		<form [formGroup]="form" (ngSubmit)="onSubmit()">
			<div class="text-xs-center pb-1">
				<!-- <img src="assets/images/logo-dark.svg" alt=""/> -->
				<p class="mat-text-muted">Sign up with your e-mail and password.</p>
			</div>
			<div fxLayout="column" fxLayoutAlign="space-around">
				<div class="pb-1">
					<mat-form-field style="width: 100%">
						<input matInput placeholder="Full name" formControlName="name">
					</mat-form-field>
					<small *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched" class="mat-text-warn">Name is mandatory.</small>
					<small *ngIf="form.controls['name'].hasError('minlength') && form.controls['name'].touched" class="mat-text-warn">Your name should have, at least, 2 characters.</small>
					<small *ngIf="form.controls['name'].hasError('backend') && form.controls['name'].touched" class="mat-text-warn">{{ backend_errors.name }}</small>
				</div>
				<div class="pb-1">
					<mat-form-field style="width: 100%">
						<input matInput placeholder="E-mail" formControlName="email">
					</mat-form-field>
					<small *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched" class="mat-text-warn">E-mail is mandatory.</small>
					<small *ngIf="form.controls['email'].hasError('email') && form.controls['email'].touched" class="mat-text-warn">This e-mail isn't valid.</small>
					<small *ngIf="form.controls['email'].hasError('backend') && form.controls['email'].touched" class="mat-text-warn">{{ backend_errors.email }}</small>
				</div>
				<div class="pb-1">
					<mat-form-field style="width: 100%">
						<input matInput type="password" placeholder="Password" formControlName="password">
					</mat-form-field>
					<small *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" class="mat-text-warn">Password is mandatory.</small>
					<small *ngIf="form.controls['password'].hasError('minlength') && form.controls['password'].touched" class="mat-text-warn">Your password should have at least 6 characters.</small>
					<small *ngIf="form.controls['password'].hasError('backend') && form.controls['password'].touched" class="mat-text-warn">{{ backend_errors.password }}</small>
				</div>
				<div class="pb-1">
					<mat-form-field style="width: 100%">
						<input matInput type="password" placeholder="Password confirmation" formControlName="password_confirmation">
					</mat-form-field>
					<small *ngIf="form.controls['password_confirmation'].hasError('required') && form.controls['password_confirmation'].touched" class="mat-text-warn">You should confirm your password.</small>
					<small *ngIf="form.controls['password_confirmation'].hasError('MatchPassword') && form.controls['password_confirmation'].touched" class="mat-text-warn">Passwords doesn't match.</small>
				</div>
				<button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Sign up!</button>
			</div>
			<div class="pt-1 pb-1 text-xs-center">
				<a [routerLink]="['/auth/signin']">Already has an account? Sign in.</a>
			</div>
		</form>
	</mat-card-content>
</mat-card>

<mat-card *ngIf="errors?.length > 0">
	<mat-card-content>
		<ul>
			<li *ngFor="let err of errors" class="mat-text-warn">{{ err }}</li>
		</ul>
	</mat-card-content>
</mat-card>
