.auth {
	position: relative;
	z-index: 4000;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.auth-content {
	padding: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1 0 auto;
	flex-direction: column;
	min-height: 100%;
}

.auth-wrapper {
	flex: 1 0 0;
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
}