$gutter: 1rem !default;

$grid-breakpoints: (
	xs: 0, // Extra small screen / phone
	sm: 600px, // Small screen / phone
	md: 960px, // Medium screen / tablet
	lg: 1280px, // Large screen / desktop
	xl: 1920px // Extra large screen / wide desktop
) !default;


$spacer:   1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$spacers: (
  0: ( x: 0, y: 0),
  xs: (
    x: ($spacer-x / 1.8),
    y: ($spacer-y / 1.8)
  ),
  1: (
    x: $spacer-x,
    y: $spacer-y
  ),
  2: (
    x: ($spacer-x * 1.5),
    y: ($spacer-y * 1.5)
  ),
  3: (
    x: ($spacer-x * 3),
    y: ($spacer-y * 3)
  )
) !default;

$warm: #f44336;